*{ padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.item-detail__box{
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    padding: 50px;
}

.item-detail__404{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}


.item__symbol{
    font-size: 20px;
    color: #C9C7C7FF;
}

.item-detail__text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 30%;
    padding: 50px;
}

.item__img{
    padding: 50px;
    width: 180px;
    height: 180px;
}

h1 {
    margin-bottom: 10px;
    line-height: 25px;
}

h2 {
    margin-bottom: 10px;
    padding: 5px 0;
    font-size: 28px;
    line-height: 25px;
}

 p {
     font-weight: 200;
    margin-bottom: 10px;
    line-height: 25px;
}

 /* CARDS STARTS  */

.flex__container{

    display:flex;

    justify-content: space-around;
    align-items: start;
    padding: 30px;
    flex-wrap: wrap;
    align-content: space-between;

}


flex__box{

    display:flex;
    justify-content:flex-start;
    align-items: start;
    flex-wrap: wrap;


}


.flex__item{
    min-height: 1000px;
    justify-content: center;
    padding: 50px;
    width: auto;

}

.flex__img{
    transition: 300ms;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.button {
    border-radius: 3px;
    font-size: 15px;
    background-color: dodgerblue;
    color: white;
    margin: 200px 0;
    padding: 5px 8px;
    text-decoration: none;
    transition: 300ms;

}

.button:hover {
    transition: 300ms;
    background-color: #1275d5;
    color: white;


}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #038c07; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}


.animate__animated.animate__fadeIn {
    --animate-duration: 3s;
    --animate-delay: 4s;
}

:root {
    --animate-duration: 3s;
    --animate-delay: 0.9s;
}