{% extends 'base.html.twig' %}

    {% block body %}

        {% if crypto %}
            <div class="item-detail__box">
                <img class="item__img" src="{{ crypto.logoUrl }}" alt="{{ crypto.name }}">

                <div class="item-detail__text">
                    <h1 class="item__title"><span
                                style="color:#c9c7c7; padding-right: 5px">#{{ crypto.ranking }}</span> {{ crypto.name }}
                        <span class="item__symbol">  ({{ crypto.symbol }}) </span></h1>
                    <h2 class="item__price">  {{ crypto.price }} € </h2>
                    <p class="item__desc">{{ crypto.description }}</p>
                    {% if is_granted("ROLE_USER") %}
                        <a class="btn btn-primary"
                           href="{{ path('add_crypto_wallet', { 'idUser':app.user.id, 'idCrypto': crypto.id}) }}">
                            Añadir a Cartera </a>
                    {% endif %}

                </div>
            </div>
        {% endif %}
        {% if not crypto %}
            <div class="item-detail__404">
                <h1 class="item__title"> This crypto is not in the Database </h1>
                <img style="width:100wh; height: auto" src="/img/404.jpeg" alt="not-found">
            </div>
        {% endif %}



        <script>
            // Get all elements with class="closebtn"
            var close = document.getElementsByClassName("closebtn");
            var i;

            // Loop through all close buttons
            for (i = 0; i < close.length; i++) {
                // When someone clicks on a close button
                close[i].onclick = function () {

                    // Get the parent of <span class="closebtn"> (<div class="alert">)
                    var div = this.parentElement;

                    // Set the opacity of div to 0 (transparent)
                    div.style.opacity = "0";

                    // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
                    setTimeout(function () {
                        div.style.display = "none";
                    }, 600);
                }
            }
        </script>

    {% endblock %}
